
# nn_mnist
## cache
nn_mnist/src/__pycache__/
nn_mnist/__pycache__/
## data
nn_mnist/data/*
!nn_mnist/data/*/
!nn_mnist/data/.gitkeep
## data/test
nn_mnist/data/test/*
!nn_mnist/data/test/.gitkeep
## data/train
nn_mnist/data/train/*
!nn_mnist/data/train/.gitkeep

# cnn
## cache
cnn/src/__pycache__/
cnn/__pycache__/
## data
cnn/data/*
!cnn/data/*/
!cnn/data/.gitkeep
## data/test
cnn/data/test/*
!cnn/data/test/.gitkeep
## data/train
cnn/data/train/*
!cnn/data/train/.gitkeep
## data
cnn/data1/*
!cnn/data1/*/
!cnn/data1/.gitkeep
## data/test
cnn/data1/test/*
!cnn/data1/test/.gitkeep
## data/train
cnn/data1/train/*
!cnn/data1/train/.gitkeep


# other
ref.py
ref2.py
ml_utils/__pycache__
nn_boston/.ipynb_checkpoints
.ipynb_checkpoints/*