
# nn_mnist
## cache
nn_mnist/src/__pycache__/
nn_mnist/__pycache__/
## data
nn_mnist/data/*
!nn_mnist/data/*/
!nn_mnist/data/.gitkeep
## data/test
nn_mnist/data/test/*
!nn_mnist/data/test/.gitkeep
## data/train
nn_mnist/data/train/*
!nn_mnist/data/train/.gitkeep

# cnn
## cache
cnn/src/__pycache__/
cnn/__pycache__/
## data
cnn/data/*
!cnn/data/*/
!cnn/data/.gitkeep
## data/test
cnn/data/test/*
!cnn/data/test/.gitkeep
## data/train
cnn/data/train/*
!cnn/data/train/.gitkeep
## data1
cnn/data1/*
!cnn/data1/*/
!cnn/data1/.gitkeep
## data/test
cnn/data1/test/*
!cnn/data1/test/.gitkeep
## data/train
cnn/data1/train/*
!cnn/data1/train/.gitkeep

# ssl
## data
cnn/data/*
!cnn/data/*/
!cnn/data/.gitkeep
## data/pretrain
cnn/data/pretrain/*
!cnn/data/pretrain/*/
!cnn/data/pretrain/.gitkeep
## data/pretrain/train
cnn/data/pretrain/train*
!cnn/data/pretrain/train/.gitkeep
## data/pretrain/test
cnn/data/pretrain/test*
!cnn/data/pretrain/test/.gitkeep
## data/learn
cnn/data/learn/*
!cnn/data/learn/*/
!cnn/data/learn/.gitkeep
## data/learn/train
cnn/data/learn/train*
!cnn/data/learn/train/.gitkeep
## data/learn/test
cnn/data/learn/test*
!cnn/data/learn/test/.gitkeep
## models
cnn/models/*
!cnn/models/.gitkeep

# other
train.ipynb
ref.py
ref2.py
ml_utils/__pycache__
nn_boston/.ipynb_checkpoints
.ipynb_checkpoints/*